//Scroll bar
::-webkit-scrollbar {
  width: 0.8rem;

  background-color: var(--bs-secondary);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--bs-primary);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

//Selection text
::selection {
  color: #fff;
  background-color: var(--bs-primary);
}

//Navbar
.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.nav-sticky {
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

//Header
header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}
.hero .img-container {
  transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -o-transform: translateX(-8px);
}
@media screen and (max-width: 1000px) {
  .hero .img-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}

//Modal 1
.modal-dialog {
  max-width: 1040px;
}

//download
.download {
  background: url(../images/download-background.jpg) center center no-repeat;
  background-size: cover;
}
.download .image-container {
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

//map
.map iframe {
  width: 100%;
  height: 400px;
  border: none;
}
